@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  font-family: "Nunito";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "sans-serif", sans-serif;
  overflow-y: scroll;
}

button {
  cursor: pointer;
}
