@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

:root {
  --primary: #fff; /* Primary Background */
  --secondary: #f9fafb; /* Secondary Background */
  --border: #e5e7eb; /* Border Color */
  --text: #101828; /* Text Color */
  --muted: #4a5565; /* Muted Text Color */
  --accent: #155dfc; /* Accent Color */
  --accent-hover: #1447e6; /* Accent Hover Color */
  --success: #12b981; /* Success Text */
  --success-bg: #ecfdf3; /* Success Background */
  --danger: #ef4444; /* Danger Text */
  --danger-bg: #fef2f2; /* Danger Background */
 }

.dark {
  /* Dark Mode */
  --primary: #0c1014; /* Primary Background */
  --secondary: #25292e; /* Secondary Background */
  --border: #3f3f3f; /* Border Color */
  --text: #fff; /* Text Color */
  --muted: #ddd; /* Muted Text Color */
  --accent: #155dfc; /* Accent Color */
  --accent-hover: #5b6379; /* Accent Hover Color */
  --success: #2ed3a2; /* Success Text */
  --success-bg: #173227; /* Success Background */
  --danger: #ff6b6b; /* Danger Text */
  --danger-bg: #351b1b; /* Danger Background */
}

* {
  font-family: "Nunito";
  transition: all 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "sans-serif", sans-serif;
  overflow-y: scroll;
}

button {
  cursor: pointer;
}
